
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

.mdl-demo .mdl-layout__header-row {
  padding-left: 40px;
}

.mdl-demo .mdl-layout.is-small-screen .mdl-layout__header-row {
  padding-left: 40px;
  height: 20px !important;
  background: #354061 !important;
}

.mdl-layout.mdl-layout__header-row {
  height: 30px;
  background: #354061 !important;
  overflow-y: hidden;
}

.mdl-color--primary {
  background-color: #364061 !important;
}

.mdl-demo .mdl-layout.is-small-screen .mdl-layout__header-row h3 {
  font-size: 1.5em;
}

.mdl-demo .mdl-layout__tab-bar-button {
  display: none;
}

.mdl-demo .mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button#logout {
  display: block;
  top: 4px !important;
  right: 5px !important;
  background-color: #485270 !important;
  box-shadow: none !important;
}

.mdl-demo .mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button#back {
  display: block;
  top: 4px !important;
  left: 5px !important;
  background-color: #485270 !important;
  box-shadow: none !important;
}

.mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar, .mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar-container {
  overflow: visible;
}

.mdl-demo .mdl-layout__tab-bar-container {
  height: 64px;
  background-color: #495370 !important;
}

.mdl-demo .mdl-layout__tab-bar {
  padding: 0;
  /*padding-left: 16px;*/
  box-sizing: border-box;
  height: 100%;
  width: max-content !important;
  width: -moz-max-content !important;
  margin: 0 auto;
  background-color: #495370 !important
}

.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab {
  height: 64px;
  line-height: 64px;
}

.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
  background-color: white;
  height: 4px;
}

.mdl-demo main>.mdl-layout__tab-panel {
  padding: 8px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.mdl-demo .mdl-card {
  height: auto;
  display: flex;
  flex-direction: column;
}

.mdl-demo .mdl-card>* {
  height: auto;
}

.mdl-demo .mdl-card .mdl-card__supporting-text {
  margin-top: 20px;
  /*flex-grow: 1;*/
  padding: 0;
  color: inherit;
  width: calc(100% - 80px);
}

.mdl-demo.mdl-demo .mdl-card__supporting-text h4 {
  margin-top: 0;
}

.mdl-demo .mdl-card__actions {
  margin: 0;
  padding: 4px 40px;
  color: inherit;
}

.mdl-demo .mdl-card__actions a {
  color: #00BCD4;
  margin: 0;
  float: right;
}

.mdl-demo .mdl-card__actions a:hover, .mdl-demo .mdl-card__actions a:active {
  color: inherit;
  background-color: transparent;
}

.mdl-demo .mdl-card__supporting-text+.mdl-card__actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.mdl-demo #logout {
  position: absolute;
  right: 40px;
  top: 36px;
  z-index: 999;
  color: white;
  background-color: #364061;
}

.mdl-demo #back {
    position: absolute;
    left: 40px;
    top: 36px;
    z-index: 999;
    color: white;
    background-color: #364061;
}

.mdl-demo .mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-bottom: 48px;
}

.mdl-demo section.section--center {
  max-width: 860px;
}

.mdl-demo #features section.section--center {
  max-width: 620px;
}

.mdl-demo section>header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mdl-demo section>.section__play-btn {
  min-height: 200px;
}

.mdl-demo section>header>.material-icons {
  font-size: 3rem;
}

.mdl-demo section>button {
  position: absolute;
  z-index: 99;
  top: 8px;
  right: 8px;
}

.mdl-demo section .section__circle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 0;
  flex-shrink: 1;
}

.mdl-demo section .section__text {
  flex-grow: 1;
  flex-shrink: 0;
  padding-top: 8px;
}

.mdl-demo section .section__text h5 {
  font-size: inherit;
  margin: 0;
  margin-bottom: 0.5em;
}

.mdl-demo section .section__text a {
  text-decoration: none;
}

.mdl-demo section .section__circle-container>.section__circle-container__circle {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0;
}

.mdl-demo section.section--footer .section__circle--big {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 8px 32px;
}

.mdl-demo .is-small-screen section.section--footer .section__circle--big {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 8px 16px;
}

.mdl-demo section.section--footer {
  padding: 64px 0;
  margin: 0 -8px -8px -8px;
}

.mdl-demo section.section--center .section__text:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, .13);
}

.mdl-demo .mdl-card .mdl-card__supporting-text>h3:first-child {
  margin-bottom: 24px;
}

.mdl-demo .mdl-layout__tab-panel:not(#overview) {
  background-color: white;
}

.mdl-demo #features section {
  margin-bottom: 72px;
}

.mdl-demo #features h4, #features h5 {
  margin-bottom: 16px;
}

.mdl-demo .toc {
  border-left: 4px solid #C1EEF4;
  margin: 24px;
  padding: 0;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
}

.mdl-demo .toc h4 {
  font-size: 0.9rem;
  margin-top: 0;
}

.mdl-demo .toc a {
  color: #4DD0E1;
  text-decoration: none;
  font-size: 16px;
  line-height: 28px;
  display: block;
}

.mdl-demo .mdl-menu__container {
  z-index: 99;
}

.mdl-data-table {
  border: 0px !important;
  background-color: transparent;
  width: 100%;
}

.mdl-mega-footer--bottom-section, .mdl-mega-footer__bottom-section {
  padding-top: 10px;
  margin-bottom: 10px;
  display: grid;
  text-align: center;
  color: #ffffff;
}

.mdl-mega-footer {
  /* padding: 16px 40px; */
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: #364061 !important;
  width: 100%;
  flex-shrink: 0;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: transparent !important;
}

md-toolbar {
    font-size: 16px !important;
    min-height: auto !important;
}

.mdl-layout__content {
  background-color: #fff !important;
}

#logo {
  height: 25px;
}

#we {
  height: 100%;
  /* margin-top: 50px; */
  /* margin-bottom: 50px; */
  overflow-y: auto;
}

.mdl-demo section.section--center {
  margin: 20px auto;
  width: 90% !important;
}

.mdl-layout__tab.isactive {
  box-shadow: 0px -5px 0px 0px #fff inset;
}

html {
  background-color: #364061;
}

.mdl-layout__drawer-button {
    display: none !important;
}


@media (max-width: 839px) {
  #we {
    height: 100%;
    /* margin-top: 50px; */
    /* margin-bottom: 50px; */
    /*overflow: initial;*/
    flex: 1 0 auto;
  }
  @media (max-width: 550px) {
    .mdl-layout__tab.gone {
      display: none;
    }

    .mdl-layout__drawer-button {
        display: block !important;
    }
  }
