#add {
  position: absolute;
  z-index: 99;
  top: 6px;
  right: 8px;
  height: 40px;
  width: 40px;
}

md-dialog {
  overflow: visible !important;
}

md-toolbar:not(.md-menu-toolbar) {
  background-color: #354061 !important;
}

md-input-container {
  margin-bottom: 0px !important;
}

.mdl-data-table td {
  padding: 12px 12px !important
}

#delete {
  margin-top: -2px;
}

#render {
  width: 100%;
  display: inherit;
}

.mdl-demo .mdl-card {
  min-height: 50px !important;
  margin: 0 auto;
  width: 100%;
}

#render .mdl-card.mdl-cell {
  padding: 2px;
}

.fullList {
  width: 100%;
}

#listDialog {
  padding: 0 !important;
}

@media (max-width: 690px) {
  #render {
    display: inline-table;
  }
  .mdl-demo .mdl-card {
    margin-bottom: 10px;
  }
}
