<script type="text/ng-template" id="impiantoList.html">
  <md-dialog aria-label="Aggiungi Terza Parte" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Aggiungi Terza Parte</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel($event)">
        <i class="material-icons">close</i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      <form role="form">
                <div layout-gt-xs="row">
                  <md-input-container class="md-block" flex-gt-xs="">
                    <label>Nome</label>
                    <input ng-model="questList.nome"  size="30" placeholder="Mario">
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-xs="">
                    <label>Cognome</label>
                    <input ng-model="questList.cognome"  size="30" placeholder="Rossi">
                  </md-input-container>
                  <md-input-container class="md-block">
                    <label>Email</label>
                    <input ng-model="questList.email" size="30" placeholder="mario.rossi@email.com"></input>
                  </md-input-container>
                </div>
                <div layout="row" layout-align="center center">
                <md-button ng-click="answer(questList)" class="md-raised md-primary">Aggiungi</md-button>
              </div>
      </form>
    </div>
  </md-dialog-content>
</md-dialog>
</script>
